:root {
	--odd-color: #e5c4e9;
	--even-color: #d4aada;
	--snake-color: #000000;
}

.box {
	background-color: var(--odd-color);
	border: 10px thick var(--odd-color);
}

.box:nth-child(even) {
	background-color: var(--even-color);
	border: 10px solid var(--even-color);
}

.dark {
	background-color: var(--snake-color);
	/* border: 0.2px solid black; */
}

.red {
	background-color: var(--odd-color);
	content: url('apple.png');
	/* border: 0.2px solid red; */
}

.red:nth-child(even) {
	background-color: var(--even-color);
	content: url('apple.png');
}

.game-board {
	left: auto;
	right: auto;
	width: 100%;
	display: grid;
	grid-template-columns: 35px 35px 35px 35px 35px 35px 35px 35px 35px 35px 35px 35px 35px 35px 35px;
	grid-template-rows: 35px 35px 35px 35px 35px 35px 35px 35px 35px 35px 35px 35px 35px 35px 35px;
	justify-content: center;
	position: absolute;
	/* border: 0.1px solid black; */
}

.game {
	font-size: 30px;
}

.layout {
	position: relative;
}

.smaller-text {
	font-size: 15px;
}

.text-block {
	visibility: hidden;
	/* cursor: pointer; */
	-webkit-border-radius: 6px;
	transform: translateY(100%);
	-moz-border-radius: 6px;
	border-radius: 6px;
	-webkit-box-shadow: 1px 1px 7px #000000;
	-moz-box-shadow: 1px 1px 7px #000000;
	box-shadow: 1px 1px 7px #000000;
	background-color: #000000;
	padding: 10px;
	z-index: 1;
	opacity: 0.9;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 21pt;
	color: #fff5ee;
	text-align: center;
	outline: 0px solid #000000;
	display: block;
	margin-left: auto;
	margin-right: auto;
	left: 33%;
	right: 33%;
	width: 17%;
	position: absolute;
}

.text-block1 {
	cursor: pointer;
	-webkit-border-radius: 6px;
	transform: translateY(20%);
	-moz-border-radius: 6px;
	border-radius: 6px;
	-webkit-box-shadow: 1px 1px 7px #000000;
	-moz-box-shadow: 1px 1px 7px #000000;
	box-shadow: 1px 1px 7px #000000;
	background-color: #000000;
	padding: 10px;
	z-index: 1;
	opacity: 0.9;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 21pt;
	color: #fff5ee;
	text-align: center;
	outline: 0px solid #000000;
	display: block;
	margin-left: auto;
	margin-right: auto;
	left: 33%;
	right: 33%;
	width: 17%;
	position: absolute;
}

.picker {
	margin-top: 20px;
}